* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

p {
  margin: 0;
}

.background-1 {
  background-color: #333;
  color: white;
}

.background-2 {
  background-color: white;
  color: #333;
}

.background-3 {
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
}

.background-4 {
  background-color: rgba(0, 0, 0, 0.2);
  color: #007bff;
}

.text-item {
  font-size: 1.8rem;
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8);
  line-height: 2rem;
}

.text-heading {
  font-size: 1.8rem;
}

.text-medium {
  font-size: 1.4rem;
}

.text-small {
  font-size: 1rem;
}

.btn-1 {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
  border-radius: 2rem;
  padding: 5px;
}

.gallery-container {
  padding: 10vh 2vw 5vh 2vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item-card {
  width: 25vw;
  margin: 2%;
  position: relative;
}
.item-card .col {
  background-color: white;
  position: relative;
  padding-left: 0;
  padding-right: 0;
}
.item-card .col .item-card-title {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 15;
  width: 100%;
  padding: 2%;
}
.item-card .col .item-card-menu-btn {
  position: absolute;
  top: 2%;
  right: 2%;
  width: 2vw;
  cursor: pointer;
  z-index: 20;
}
.item-card .col .item-card-menu-btn:hover {
  transform: scale(1.1);
}
.item-card .col .item-card-menu {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 40%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 2%;
  z-index: 15;
}
.item-card .col .item-card-menu p {
  width: 100%;
  text-align: right;
  cursor: pointer;
}
.item-card .col .item-card-menu p:hover {
  transform: scale(1.1);
}
.item-card .col .item-card-options {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2%;
  z-index: 15;
}
.item-card .col .item-card-options button {
  min-width: 30%;
  cursor: pointer;
}
.item-card .col .photoShadow {
  width: 100%;
  height: 40px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
  background: linear-gradient(to bottom, rgba(76, 76, 76, 0) 0, rgba(19, 19, 19, 0.5) 100%);
}
.item-card .item-card-text {
  width: 100%;
  padding: 2%;
}
.item-card .item-card-text h4 {
  margin-bottom: 30px;
}
.item-card .item-card-text p {
  width: 60%;
}
.item-card .item-card-text .item-card-link {
  position: absolute;
  bottom: 2%;
  right: 2%;
}

.item-card:hover {
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.8);
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
}

.item-card-link:hover {
  transform: scale(1.1);
}

.home-nav {
  height: 7vh;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;

  display: flex;
  justify-content: space-between;
}
.home-nav .logo {
  height: 6vh;
  width: 18vw;
  margin: 0.8vh 0.8vw;
}
.home-nav .logo img {
  height: 5vh;
  cursor: pointer;
}
.home-nav .nav-right {
  display: flex;
  justify-content: flex-end;
  margin: 0.8vh 0.8vw;
}
.home-nav .view-users-btn {
  padding: 0.8vh 0.8vw;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
}
.home-nav .login-btn {
  padding: 0.8vh 0.8vw;
  margin: 0 0.8vw;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
  color: white;
}
.home-nav .sign-up-btn {
  padding: 0.8vh 0.8vw;
  margin: 0 0.8vw;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
  color: white;
}
.home-nav #log-out-btn {
  padding: 0.8vh 0.8vw;
  margin: 0 0.8vw;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
  display: none;
  color: white;
}
.home-nav .profile-btn {
  height: 5vh;
  width: 5vh;
  margin: 0 0.8vw;
  border-radius: 100%;
  cursor: pointer;
}
.home-nav .profile-btn img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

#sign-up-form {
  background-color: #333;
  width: 100%;
  height: 400px;
  display: none;
}

#log-in-container {
  background-color: #333;
  width: 100%;
  height: 300px;
  display: none;
}

#sign-up-form input {
  background: none;
  border: none;
  outline: none;
  z-index: 50;
}

#log-in-form input {
  background: none;
  border: none;
  outline: none;
}

.user-name-container {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 20%;
  left: 30%;
  height: 50px;
  width: 400px;
  border: 2px solid white;
  border-radius: 20px;
}

.email-container {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 30%;
  left: 30%;
  height: 50px;
  width: 400px;
  border: 2px solid white;
  border-radius: 20px;
}

.password-container {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 40%;
  left: 30%;
  height: 50px;
  width: 400px;
  border: 2px solid white;
  border-radius: 20px;
}

.form-sign-up-user-name {
  background: #FFF7ED;
  padding-left: 20px;
  height: 50px;
  width: 400px;
  color: white;
  border-radius: 10px;
}

.form-sign-up-email {
  position: absolute;
  padding-left: 20px;
  height: 50px;
  width: 400px;
  color: white;
  background: #FFF7ED;
  border-radius: 10px;
}

.form-sign-up-password {
  position: absolute;
  padding-left: 20px;
  color: white;
  background: #FFF7ED;
  height: 50px;
  width: 400px;
  border-radius: 10px;
}

.sign-up-form-btn {
  background: none;
  border: none;
  outline: none;
  position: absolute;
  border: 1px solid #333;
  border-radius: 10px;
  color: white;
  width: 100px;
  top: 50%;
  left: 30%;
}

.log-in-form-btn:hover {
  border: 1px solid white;
}

.log-in-form-btn {
  background: none;
  border: none;
  outline: none;
  position: absolute;
  border: 1px solid #333;
  border-radius: 10px;
  color: white;
  width: 100px;
  top: 40%;
  left: 30%;
}

#log-in-container {
  display: none;
}

#sign-up-form {
  display: none;
}

#home-container {
  display: none;
}

.profile-img-size {
  width: 150px;
  height: 150px;
}

.profile-btn:hover, .btn-1:hover {
  transform: scale(1.1);
}

.sign-up-form-btn:hover, .log-in-form-btn:hover {
  transform: scale(1.1);
}

/*# sourceMappingURL=style.css.map */
