* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

p {
  margin: 0;
}

.background-1 {
  background-color: #333;
  color: white;
}

.background-2 {
  background-color: white;
  color: #333;
}

.background-3 {
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
}

.background-4 {
  background-color: rgba(0, 0, 0, 0.2);
  color: #007bff;
}

.text-item {
  font-size: 1.8rem;
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8);
  line-height: 2rem;
}

.text-heading {
  font-size: 1.8rem;
}

.text-medium {
  font-size: 1.4rem;
}

.text-small {
  font-size: 1rem;
}

.btn-1 {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
  border-radius: 2rem;
  padding: 5px;
}

.home-nav {
  height: 7vh;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
}
.home-nav .logo {
  height: 6vh;
  width: 18vw;
  position: absolute;
  top: 1vh;
  left: 2vw;
}
.home-nav .logo img {
  height: 5vh;
  cursor: pointer;
}
.home-nav .view-users-btn {
  padding: 0.8vh 0.8vw;
  position: absolute;
  top: 1vh;
  right: 7vw;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
}
.home-nav .login-btn {
  padding: 1vh 1vw;
  position: absolute;
  top: 2vh;
  right: 20vw;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
}
.home-nav .sign-up-btn {
  padding: 1vh 1vw;
  position: absolute;
  top: 2vh;
  right: 10vw;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
}
.home-nav .profile-btn {
  height: 5vh;
  width: 5vh;
  position: absolute;
  top: 1vh;
  right: 2vw;
  border-radius: 100%;
  cursor: pointer;
}
.home-nav .profile-btn img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

#sign-up-form input {
  background: none;
  border: none;
  outline: none;
  z-index: 50;
}

#log-in-form input {
  background: none;
  border: none;
  outline: none;
}

.user-name-container {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 15%;
  left: 30%;
  height: 50px;
  width: 400px;
  box-shadow: -12px -12px 12px 0 rgba(58, 58, 58, 0.3), 12px 12px 12px 0 rgba(0, 0, 0, 0.2);
}

.email-container {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 25%;
  left: 30%;
  height: 50px;
  width: 400px;
  border: 2px solid white;
  border-radius: 20px;
}

.password-container {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 35%;
  left: 30%;
  height: 50px;
  width: 400px;
}

.form-sign-up-user-name {
  background: #FFF7ED;
  padding-left: 20px;
  height: 50px;
  width: 400px;
  color: white;
  border-radius: 10px;
}

.form-sign-up-email {
  position: absolute;
  padding-left: 20px;
  height: 50px;
  width: 400px;
  color: white;
  background: #FFF7ED;
  border-radius: 10px;
}

.form-sign-up-password {
  position: absolute;
  padding-left: 20px;
  color: white;
  background: #FFF7ED;
  height: 50px;
  width: 400px;
  border-radius: 10px;
}

.sign-up-form-btn {
  background: none;
  border: none;
  outline: none;
  position: absolute;
  border: 1px solid #333;
  border-radius: 10px;
  color: white;
  width: 100px;
  top: 45%;
  left: 30%;
}

.log-in-form-btn {
  background: none;
  border: none;
  outline: none;
  position: absolute;
  border: 1px solid #333;
  border-radius: 10px;
  color: white;
  width: 100px;
  top: 35%;
  left: 30%;
}

#log-in-container {
  display: none;
}

#sign-up-form {
  display: none;
}

#home-container {
  display: none;
}

.home-container {
  margin-top: 20vh;
  padding: 2vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.home-card {
  width: 25vw;
  margin: 2%;
  position: relative;
}
.home-card .col {
  background-color: white;
  position: relative;
  padding-left: 0;
  padding-right: 0;
}
.home-card .col .home-item-title {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 15;
  width: 100%;
  padding: 2%;
}
.home-card .col .photoShadow {
  width: 100%;
  height: 40px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
  background: linear-gradient(to bottom, rgba(76, 76, 76, 0) 0, rgba(19, 19, 19, 0.5) 100%);
}
.home-card .home-item-text {
  width: 100%;
  padding: 2%;
}
.home-card .home-item-text h4 {
  margin-bottom: 30px;
}
.home-card .home-item-text .home-item-link {
  position: absolute;
  bottom: 2%;
  right: 2%;
}

.profile-img-size {
  width: 150px;
  height: 150px;
}

.home-card:hover {
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.8);
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
}

.profile-btn:hover, .view-users-btn:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
}

.sign-up-form-btn:hover, .log-in-form-btn:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
  color: #AAF0D1;
}

/*# sourceMappingURL=style.css.map */
