.home-nav{
  height: 7vh;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;

  .logo{
    height: 6vh;
    width: 18vw;
    position: absolute;
    top: 1vh;
    left: 2vw;

    img{
      height: 5vh;
      cursor: pointer;
    }
  }

  .view-users-btn{
    padding: 0.8vh 0.8vw;
    position: absolute;
    top: 1vh;
    right: 7vw;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
  }

  .login-btn{
    padding: 1vh 1vw;
    position: absolute;
    top: 2vh;
    right: 20vw;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
  }

  .sign-up-btn{
    padding: 1vh 1vw;
    position: absolute;
    top: 2vh;
    right: 10vw;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
  }

  //  #log-out-btn{
  //   padding: 1vh 1vw;
  //   position: absolute;
  //   top: 2vh;
  //   right: 10vw;
  //   text-align: center;
  //   border-radius: 20px;
  //   cursor: pointer;
  //   // display: none;
  // }

  .profile-btn{
    height: 5vh;
    width: 5vh;
    position: absolute;
    top: 1vh;
    right: 2vw;
    border-radius: 100%;
    cursor: pointer;

    img{
      width: 100%;
      height: 100%;
      border-radius: 100%;
    }

  }

} // home nav ends
