// Background styling

.background-1{
  background-color: $color-1;
  color: $color-2;
}

.background-2{
  background-color: $color-2;
  color: $color-1;
}

.background-3{
  background-color: $color-4;
  color: $color-2;
}

.background-4{
  background-color: $color-4;
  color: $color-3;
}



// Text styling

.text-item{
  font-size: 1.8rem;
  color: rgba(255,255,255,0.8);
  text-shadow: 5px 5px 5px rgba(0,0,0,0.8);
  line-height: 2rem;
}

.text-heading{
  font-size: 1.8rem;
}
.text-medium{
  font-size: 1.4rem;
}

.text-small{
  font-size: 1rem;
}


//button styling

.btn-1{
  background-color: $color-3;
  color: $color-2;
  border-color: $color-3;
  border-radius: 2rem;
  padding: 5px;
}
