@import "reset";
@import "variables";
@import "styling";
@import "gallery";
@import "nav";

// form styling
// make errors come up testing different styling on errors

#sign-up-form{
  background-color: #333;
  width: 100%;
  height: 400px;
  display: none;
}

#log-in-container{
    background-color: #333;
  width: 100%;
  height: 300px;
  display:none;
}

 #sign-up-form input{
  background: none;
  border: none;
  outline: none;
  z-index: 50;
  }

  #log-in-form input{
  background: none;
  border: none;
  outline: none;
  }

.user-name-container{
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 20%;
  left: 30%;
  height:50px;
  width:400px;
  border: 2px solid white;
  border-radius: 20px;
}

.email-container{
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 30%;
  left: 30%;
  height:50px;
  width:400px;
  border: 2px solid white;
  border-radius: 20px;
}

.password-container{
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 40%;
  left: 30%;
  height:50px;
  width:400px;
  border: 2px solid white;
  border-radius: 20px;
}

.form-sign-up-user-name{
  background: #FFF7ED;
  padding-left: 20px;
  height: 50px;
  width: 400px;
  color: white;
  border-radius: 10px;
}

.form-sign-up-email{
  position: absolute;
  padding-left: 20px;
  height: 50px;
  width: 400px;
  color: white;
  background: #FFF7ED;
  border-radius: 10px;

}

.form-sign-up-password{
  position: absolute;
  padding-left: 20px;
  color: white;
  background: #FFF7ED;
  height: 50px;
  width: 400px;
  border-radius: 10px;
}

.sign-up-form-btn{
   background: none;
  border: none;
  outline: none;
  position:absolute;
  border:1px solid #333;
  border-radius: 10px;
  color: white;
  width: 100px;
  top: 50%;
  left: 30%;
  // transform: translate(-25%,-40%);
}


  .log-in-form-btn:hover{
    border:1px solid white;
  }

.log-in-form-btn{
   background: none;
  border: none;
  outline: none;
  position:absolute;
  border:1px solid #333;
  border-radius: 10px;
  color: white;
  width: 100px;
  top: 40%;
  left: 30%;
  // transform: translate(-25%,-40%);
}





//end of form styling



// form / containers display properties
#log-in-container{
    background-color: #333;
  width: 100%;
  height: 600px;
  display:none;
}

#sign-up-form{
  background-color: #333;
  width: 100%;
  height: 600px;
  display: none;
}
//could have home container display none when forms are clicked
// when i tried this it made cards go into one colum
// #home-container{
//   display: none;
// }

//end of form / containers display properties







//profile page
.profile-img-size {
  width : 150px;
  height : 150px;
}



//hovers

.profile-btn:hover, .btn-1:hover{
  transform: scale(1.1);
}

.sign-up-form-btn:hover, .log-in-form-btn:hover{
  transform: scale(1.1);
}
