@import "reset";
@import "variables";
@import "styling";

.home-nav{
  height: 10vh;
  width: 100%;
  position: relative;

  .logo{
    height: 8vh;
    width: 18vw;
    position: absolute;
    top: 1vh;
    left: 1vw;
    border-radius: 20px;
    cursor: pointer;
  }

  .view-users-btn{
    padding: 1vh 1vw;
    position: absolute;
    top: 2vh;
    right: 10vw;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
  }

  .profile-btn{
    height: 8vh;
    width: 8vh;
    position: absolute;
    top: 1vh;
    right: 1vw;
    border-radius: 100%;
    cursor: pointer;
  }

} // home nav ends

.home-container{
  margin-top: 10vh;
  padding: 0 2vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.home-card{
  width: 25vw;
  height: 28vw;
  margin-top: 4vh;

  .home-item{
    width: 25vw;
    height: 25vw;
    position: relative;
    border-radius: 2rem;
    background-color: $color-2;
    cursor: pointer;

    p{
      position: absolute;
      bottom: 2%;
      left: 2%;
      margin: 0;
    } // p ends

  } //home item ends

  .home-link{
    width: 40%;
    height: 2vw;
    margin: 0.5vw 0;
  } // home link ends

} // home card ends

//hovers
.home-item:hover{
  // opacity: 0.8;
  box-shadow: $shadow-1;
}

.profile-btn:hover, .view-users-btn:hover, .logo:hover{
  box-shadow: $shadow-2;
}
