@import "reset";
@import "variables";
@import "styling";
@import "gallery";
@import "nav";

// form styling
// make errors come up testing different styling on errors

 #sign-up-form input{
  background: none;
  border: none;
  outline: none;
  z-index: 50;
  display: none;
  }

  #log-in-form input{
  background: none;
  border: none;
  outline: none;
  display: none;
  }

.user-name-container{
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 15%;
  left: 30%;
  height:50px;
  width:400px;
  box-shadow:  -12px -12px 12px 0 rgba(58, 58, 58, 0.3),12px 12px 12px 0 rgba(0,0,0,.2);
}

.email-container{
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 25%;
  left: 30%;
  height:50px;
  width:400px;
  border: 2px solid white;
  border-radius: 20px;
}

.password-container{
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 35%;
  left: 30%;
  height:50px;
  width:400px;
  // box-shadow:  -12px -12px 12px 0 rgba(58, 58, 58, 0.3),12px 12px 12px 0 rgba(0,0,0,.2);
}

.form-sign-up-user-name{
  background: #FFF7ED;
  padding-left: 20px;
  height: 50px;
  width: 400px;
  color: white;
  border-radius: 10px;
}

.form-sign-up-email{
  position: absolute;
  padding-left: 20px;
  height: 50px;
  width: 400px;
  color: white;
  background: #FFF7ED;
  border-radius: 10px;

}

.form-sign-up-password{
  position: absolute;
  padding-left: 20px;
  color: white;
  background: #FFF7ED;
  height: 50px;
  width: 400px;
  border-radius: 10px;
}

.sign-up-form-btn{
   background: none;
  border: none;
  outline: none;
  position:absolute;
  border:1px solid #333;
  border-radius: 10px;
  color: white;
  width: 100px;
  top: 45%;
  left: 30%;
  // transform: translate(-25%,-40%);
}

.log-in-form-btn{
   background: none;
  border: none;
  outline: none;
  position:absolute;
  border:1px solid #333;
  border-radius: 10px;
  color: white;
  width: 100px;
  top: 35%;
  left: 30%;
  // transform: translate(-25%,-40%);
}





//end of form styling



// form / containers display properties
#log-in-container{
  display:none;
}

#sign-up-form{
  display: none;
}
//could have home container display none when forms are clicked
// when i tried this it made cards go into one colum
#home-container{
  display: none;
}

//end of form / containers display properties







//profile page
.profile-img-size {
  width : 150px;
  height : 150px;
}



//hovers

.profile-btn:hover, .view-users-btn:hover{
  transform: scale(1.1);
}

.sign-up-form-btn:hover, .log-in-form-btn:hover{
  box-shadow: $shadow-2;
  color:#AAF0D1;
}



// animation for submin button


//trigger animation have to add and remove class to animate through jquery
// .submit-btn-animation{
//   animation: shake 2s ease;
// }

// @keyframes shake{
//   0%{
//     transform: translate(-50%,-50%) rotate(0deg);
//   }
//   25%{
//     transform: translate(-50%,-50%) rotate(3deg);
//   }
//   50%{
//     transform: translate(-50%,-50%) rotate(0deg);
//   }
//   75%{
//     transform: translate(-50%,-50%) rotate(3deg);
//   }
//   100%{
//     transform: translate(-50%,-50%) rotate(0deg);
//   }
// }

// end of animation for submin button
